.container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(226, 225, 225);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    width: 100px;
    padding: 5px;
    background-color: rgba(0, 131, 253, 0.575);
    margin-bottom: 2%;
  }

  .form {
    display: flex;
    flex-direction: column;

    input {
      margin: 2% 0;
    }

    textarea {
      height: 500px;
    }

    .buttonGroup {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;

    }
  }
}