.container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(226, 225, 225);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .add {
    align-self: flex-end;
    width: 100px;
    padding: 5px;
    background-color: rgba(0, 131, 253, 0.575);
    margin-bottom: 2%;
  }
}